# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
!setup.cfg
!cfg/yolov3*.cfg

storage.googleapis.com
runs/*
data/*
data/images/*
!data/*.yaml
!data/hyps
!data/scripts
!data/images
!data/images/zidane.jpg
!data/images/bus.jpg
!data/*.sh

results*.csv

# Datasets -------------------------------------------------------------------------------------------------------------
coco/
coco128/
VOC/

# MATLAB GitIgnore -----------------------------------------------------------------------------------------------------
*.m~
*.mat
!targets*.mat

# Neural Network weights -----------------------------------------------------------------------------------------------
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
darknet53.conv.74
yolov3-tiny.conv.15

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
/wandb/
.installed.cfg
*.egg


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv*
venv*/
ENV*/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore -----------------------------------------------

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.html  # Bokeh Plots
.pg  # TensorFlow Frozen Graphs
.avi # videos

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
logs/2class_10057372.err
logs/2class_10057394.err
logs/2class_10057394.out
logs/2class_10057395.err
logs/2class_10057395.out
logs/2class_10057397.err
logs/2class_10057397.out
logs/2class_10057398.err
logs/2class_10057398.out
logs/2class_10057402.err
logs/2class_10057402.out
logs/2class_10057424.err
logs/2class_10057424.out
logs/2class_10057426.err
logs/2class_10057426.out
logs/2class_10063653.err
logs/2class_10063653.out
logs/2class_10063654.err
logs/2class_10063654.out
logs/2class_10063672.err
logs/2class_10063672.out
logs/2class_10063673.err
logs/2class_10063673.out
logs/2class_10063674.err
logs/2class_10063674.out
logs/7class_10057373.err
logs/7class_10057373.out
logs/7class_10058315.err
logs/7class_10058315.out
logs/7class_10058316.err
logs/7class_10058316.out
logs/7class_10058332.err
logs/7class_10058332.out
logs/7class_10058335.err
logs/7class_10058335.out
logs/8class_10059919.err
logs/8class_10059919.out
logs/8class_10063457.err
logs/8class_10063457.out
logs/8class_10063461.err
logs/8class_10063461.out
logs/8class_10063463.err
logs/8class_10063463.out
logs/8class_10063464.err
logs/8class_10063464.out
logs/8class_10063465.err
logs/8class_10063465.out
logs/8class_10063466.err
logs/8class_10063466.out
logs/8class_10063477.err
logs/8class_10063477.out
logs/8class_10063478.err
logs/8class_10063478.out
logs/8class_10063479.err
logs/8class_10063479.out
logs/8class_10063480.err
logs/8class_10063480.out
logs/8class_10063481.err
logs/8class_10063481.out
logs/8class_10063482.err
logs/8class_10063482.out
logs/8class_10063486.err
logs/8class_10063486.out
logs/8class_10063487.err
logs/8class_10063487.out
logs/8class_10063488.err
logs/8class_10063488.out
logs/8class_10063489.err
logs/8class_10063489.out
logs/8class_10063490.err
logs/8class_10063490.out
logs/8class_10063491.err
logs/8class_10063491.out
logs/8class_10063492.err
logs/8class_10063492.out
logs/8class_10063493.err
logs/8class_10063493.out
logs/8class_10063494.err
logs/8class_10063494.out
logs/8class_10063496.err
logs/8class_10063496.out
logs/8class_10063497.err
logs/8class_10063497.out
logs/8class_10063498.err
logs/8class_10063498.out
logs/8class_10063500.err
logs/8class_10063500.out
logs/8class_10063501.err
logs/8class_10063501.out
logs/8class_10063503.err
logs/8class_10063503.out
logs/8class_10063505.err
logs/8class_10063505.out
logs/8class_10063508.err
logs/8class_10063508.out
logs/8class_10063509.err
logs/8class_10063509.out
logs/8class_10063511.err
logs/8class_10063511.out
logs/8class_10063512.err
logs/8class_10063512.out
logs/8class_10063513.err
logs/8class_10063513.out
logs/8class_10063515.err
logs/8class_10063515.out
logs/8class_10063655.err
logs/8class_10063655.out
logs/coco_chile_dino_8class_10063722.err
logs/coco_chile_dino_8class_10063722.out
logs/coco_chile_dino_8class_10063723.err
logs/coco_chile_dino_8class_10063723.out
logs/coco_chile_dino_8class_10063724.err
logs/coco_chile_dino_8class_10063724.out
logs/coco_chile_dino_8class_10063725.err
logs/coco_chile_dino_8class_10063725.out
logs/coco_chile_dino_8class_10063747.err
logs/coco_chile_dino_8class_10063747.out
logs/coco_chile_dino_8class_10063761.err
logs/coco_chile_dino_8class_10063761.out
logs/Objects365_chile_dino_8class_10063532.err
logs/Objects365_chile_dino_8class_10063532.out
logs/Objects365_chile_dino_8class_10063533.err
logs/Objects365_chile_dino_8class_10063533.out
logs/Objects365_chile_dino_8class_10063546.err
logs/Objects365_chile_dino_8class_10063546.out
logs/Objects365_chile_dino_8class_10063551.err
logs/Objects365_chile_dino_8class_10063551.out
logs/Objects365_chile_dino_8class_10063564.err
logs/Objects365_chile_dino_8class_10063564.out
logs/Objects365_chile_dino_8class_10063565.err
logs/Objects365_chile_dino_8class_10063565.out
logs/Objects365_chile_dino_8class_10063578.err
logs/Objects365_chile_dino_8class_10063578.out
logs/Objects365_chile_dino_8class_10063587.err
logs/Objects365_chile_dino_8class_10063587.out
logs/Objects365_chile_dino_8class_10063634.err
logs/Objects365_chile_dino_8class_10063634.out
logs/Objects365_chile_dino_8class_10063635.err
logs/Objects365_chile_dino_8class_10063635.out
logs/Objects365_chile_dino_8class_10063636.err
logs/Objects365_chile_dino_8class_10063636.out
logs/Objects365_chile_dino_8class_10063727.err
logs/Objects365_chile_dino_8class_10063727.out
logs/Objects365_chile_dino_8class_10063744.err
logs/Objects365_chile_dino_8class_10063744.out
logs/Objects365_chile_dino_8class_10063751.err
logs/Objects365_chile_dino_8class_10063751.out
logs/Objects365_chile_dino_8class_10063752.err
logs/Objects365_chile_dino_8class_10063752.out
yolov5/bin/activate
yolov5/bin/activate.csh
yolov5/bin/activate.fish
yolov5/bin/convert-caffe2-to-onnx
yolov5/bin/convert-onnx-to-caffe2
yolov5/bin/f2py
yolov5/bin/f2py3
yolov5/bin/f2py3.6
yolov5/bin/google-oauthlib-tool
yolov5/bin/imageio_download_bin
yolov5/bin/imageio_remove_bin
yolov5/bin/iptest
yolov5/bin/iptest3
yolov5/bin/ipython
yolov5/bin/ipython3
yolov5/bin/lsm2bin
yolov5/bin/markdown_py
yolov5/bin/normalizer
yolov5/bin/pip
yolov5/bin/pip3
yolov5/bin/pip3.6
yolov5/bin/pygmentize
yolov5/bin/pyrsa-decrypt
yolov5/bin/pyrsa-encrypt
yolov5/bin/pyrsa-keygen
yolov5/bin/pyrsa-priv2pub
yolov5/bin/pyrsa-sign
yolov5/bin/pyrsa-verify
yolov5/bin/python
yolov5/bin/python3
yolov5/bin/shortuuid
yolov5/bin/skivi
yolov5/bin/tensorboard
yolov5/bin/tifffile
yolov5/bin/torchrun
yolov5/bin/tqdm
yolov5/bin/wandb
yolov5/bin/wb
yolov5/bin/wheel
yolov5/share/doc/networkx-2.5.1/LICENSE.txt
yolov5/share/doc/networkx-2.5.1/requirements.txt
yolov5/share/doc/networkx-2.5.1/examples/README.txt
yolov5/share/doc/networkx-2.5.1/examples/3d_drawing/mayavi2_spring.py
yolov5/share/doc/networkx-2.5.1/examples/3d_drawing/README.txt
yolov5/share/doc/networkx-2.5.1/examples/advanced/plot_eigenvalues.py
yolov5/share/doc/networkx-2.5.1/examples/advanced/plot_heavy_metal_umlaut.py
yolov5/share/doc/networkx-2.5.1/examples/advanced/plot_iterated_dynamical_systems.py
yolov5/share/doc/networkx-2.5.1/examples/advanced/plot_parallel_betweenness.py
yolov5/share/doc/networkx-2.5.1/examples/advanced/README.txt
yolov5/share/doc/networkx-2.5.1/examples/algorithms/hartford_drug.edgelist
yolov5/share/doc/networkx-2.5.1/examples/algorithms/plot_beam_search.py
yolov5/share/doc/networkx-2.5.1/examples/algorithms/plot_blockmodel.py
yolov5/share/doc/networkx-2.5.1/examples/algorithms/plot_davis_club.py
yolov5/share/doc/networkx-2.5.1/examples/algorithms/plot_decomposition.py
yolov5/share/doc/networkx-2.5.1/examples/algorithms/plot_krackhardt_centrality.py
yolov5/share/doc/networkx-2.5.1/examples/algorithms/plot_rcm.py
yolov5/share/doc/networkx-2.5.1/examples/algorithms/README.txt
yolov5/share/doc/networkx-2.5.1/examples/basic/plot_properties.py
yolov5/share/doc/networkx-2.5.1/examples/basic/plot_read_write.py
yolov5/share/doc/networkx-2.5.1/examples/basic/README.txt
yolov5/share/doc/networkx-2.5.1/examples/drawing/chess_masters_WCC.pgn.bz2
yolov5/share/doc/networkx-2.5.1/examples/drawing/knuth_miles.txt.gz
yolov5/share/doc/networkx-2.5.1/examples/drawing/lanl_routes.edgelist
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_atlas.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_chess_masters.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_circular_tree.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_degree_histogram.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_degree_rank.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_directed.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_edge_colormap.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_ego_graph.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_four_grids.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_giant_component.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_house_with_colors.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_knuth_miles.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_labels_and_colors.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_lanl_routes.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_multipartite_graph.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_node_colormap.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_random_geometric_graph.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_sampson.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_simple_path.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_spectral_grid.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_unix_email.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/plot_weighted_graph.py
yolov5/share/doc/networkx-2.5.1/examples/drawing/README.txt
yolov5/share/doc/networkx-2.5.1/examples/drawing/unix_email.mbox
yolov5/share/doc/networkx-2.5.1/examples/graph/dot_atlas.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_degree_sequence.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_erdos_renyi.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_expected_degree_sequence.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_football.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_karate_club.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_napoleon_russian_campaign.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_roget.py
yolov5/share/doc/networkx-2.5.1/examples/graph/plot_words.py
yolov5/share/doc/networkx-2.5.1/examples/graph/README.txt
yolov5/share/doc/networkx-2.5.1/examples/graph/roget_dat.txt.gz
yolov5/share/doc/networkx-2.5.1/examples/graph/words_dat.txt.gz
yolov5/share/doc/networkx-2.5.1/examples/javascript/force.py
yolov5/share/doc/networkx-2.5.1/examples/javascript/README.txt
yolov5/share/doc/networkx-2.5.1/examples/javascript/force/force.css
yolov5/share/doc/networkx-2.5.1/examples/javascript/force/force.html
yolov5/share/doc/networkx-2.5.1/examples/javascript/force/force.js
yolov5/share/doc/networkx-2.5.1/examples/javascript/force/README.txt
yolov5/share/doc/networkx-2.5.1/examples/jit/plot_rgraph.py
yolov5/share/doc/networkx-2.5.1/examples/jit/README.txt
yolov5/share/doc/networkx-2.5.1/examples/pygraphviz/plot_pygraphviz_attributes.py
yolov5/share/doc/networkx-2.5.1/examples/pygraphviz/plot_pygraphviz_draw.py
yolov5/share/doc/networkx-2.5.1/examples/pygraphviz/plot_pygraphviz_simple.py
yolov5/share/doc/networkx-2.5.1/examples/pygraphviz/plot_write_dotfile.py
yolov5/share/doc/networkx-2.5.1/examples/pygraphviz/README.txt
yolov5/share/doc/networkx-2.5.1/examples/subclass/plot_antigraph.py
yolov5/share/doc/networkx-2.5.1/examples/subclass/plot_printgraph.py
yolov5/share/doc/networkx-2.5.1/examples/subclass/README.txt
yolov5/share/man/man1/ipython.1.gz
yolov5/lib64
logs/2class_10063877.err
logs/2class_10063877.out
logs/2class_10063883.err
logs/2class_10063883.out
logs/2class_10063884.err
logs/2class_10063884.out
logs/2class_10063885.err
logs/2class_10063885.out
logs/coco_2class_10063909.err
logs/coco_2class_10063909.out
logs/coco_2class_10063914.err
logs/coco_2class_10063914.out
logs/coco_2class_10063916.err
logs/coco_2class_10063916.out
logs/coco_2class_10063917.err
logs/coco_2class_10063917.out
logs/coco_2class_10063918.err
logs/coco_2class_10063918.out
logs/coco_2class_10063919.err
logs/coco_2class_10063919.out
logs/coco_2class_10063920.err
logs/coco_2class_10063920.out
logs/coco_2class_10063923.err
logs/coco_2class_10063923.out
logs/coco_2class_10063924.err
logs/coco_2class_10063924.out
logs/coco_2class_10063925.err
logs/coco_2class_10063925.out
logs/coco_2class_10063926.err
logs/coco_2class_10063926.out
logs/coco_2class_10063928.err
logs/coco_2class_10063928.out
logs/coco_2class_10063929.err
logs/coco_2class_10063929.out
logs/coco_2class_10063930.err
logs/coco_2class_10063930.out
logs/coco_2class_10065116.err
logs/coco_2class_10065116.out
logs/coco_2class_10065119.err
logs/coco_2class_10065119.out
logs/coco_2class_10065123.err
logs/coco_2class_10065123.out
logs/coco_2class_10065171.err
logs/coco_2class_10065171.out
logs/coco_2class_10065185.err
logs/coco_2class_10065185.out
logs/coco_2class_10065188.err
logs/coco_2class_10065188.out
logs/coco_chile_3class_10065251.err
logs/coco_chile_3class_10065251.out
logs/coco_chile_3class_10065253.err
logs/coco_chile_3class_10065253.out
logs/coco_chile_3class_10065254.err
logs/coco_chile_3class_10065254.out
logs/coco_chile_3class_10065255.err
logs/coco_chile_3class_10065255.out
logs/coco_chile_7class_10065084.err
logs/coco_chile_7class_10065084.out
logs/coco_chile_7class_10065087.err
logs/coco_chile_7class_10065087.out
logs/coco_chile_7class_10065088.err
logs/coco_chile_7class_10065088.out
logs/coco_chile_7class_10065237.err
logs/coco_chile_7class_10065237.out
logs/coco_chile_8class_10065051.err
logs/coco_chile_8class_10065051.out
logs/coco_chile_8class_10065052.err
logs/coco_chile_8class_10065052.out
logs/coco_chile_8class_10065053.err
logs/coco_chile_8class_10065053.out
logs/coco_chile_8class_10065076.err
logs/coco_chile_8class_10065076.out
logs/coco_chile_8class_10065078.err
logs/coco_chile_8class_10065078.out
logs/coco_chile_8class_10065080.err
logs/coco_chile_8class_10065080.out
logs/coco_chile_8class_10065083.err
logs/coco_chile_8class_10065083.out
logs/coco_chile_cabin_finetune_10063947.err
logs/coco_chile_cabin_finetune_10063947.out
logs/coco_chile_cabin_finetune_10063948.err
logs/coco_chile_cabin_finetune_10063948.out
logs/coco_chile_cabin_finetune_10063949.err
logs/coco_chile_cabin_finetune_10063949.out
logs/coco_chile_cabin_finetune_10063950.err
logs/coco_chile_cabin_finetune_10063950.out
logs/coco_chile_cabin_finetune_10063953.err
logs/coco_chile_cabin_finetune_10063953.out
logs/Objects365_2class_10063886.err
logs/Objects365_2class_10063886.out
logs/Objects365_2class_10063887.err
logs/Objects365_2class_10063887.out
logs/Objects365_2class_10063915.err
logs/Objects365_2class_10063915.out
logs/Objects365_10063934.err
logs/Objects365_10063934.out
logs/Objects365_10063935.err
logs/Objects365_10063935.out
logs/Objects365_10063936.err
logs/Objects365_10063936.out
logs/Objects365_10063940.err
logs/Objects365_10063940.out
logs/Objects365_10063943.err
logs/Objects365_10063943.out
logs/Objects365_10063944.err
logs/Objects365_10063944.out
logs/Objects365_10063945.err
logs/Objects365_10063945.out
logs/Objects365_chile_8class_10065056.err
logs/Objects365_chile_8class_10065056.out
logs/Objects365_chile_8class_10065064.err
logs/Objects365_chile_8class_10065064.out
logs/Objects365_chile_8class_10065072.err
logs/Objects365_chile_8class_10065072.out
logs/Objects365_chile_8class_10065077.err
logs/Objects365_chile_8class_10065077.out
logs/Objects365_chile_8class_10065079.err
logs/Objects365_chile_8class_10065079.out
logs/Objects365_chile_dino_8class_10063764.err
logs/Objects365_chile_dino_8class_10063764.out
logs/Objects365_chile_dino_8class_10063825.err
logs/Objects365_chile_dino_8class_10063825.out
logs/Objects365_chile_dino_8class_10063826.err
logs/Objects365_chile_dino_8class_10063826.out
logs/Objects365_chile_dino_8class_10063931.err
logs/Objects365_chile_dino_8class_10063931.out
logs/Objects365_chile_dino_8class_10063932.err
logs/Objects365_chile_dino_8class_10063932.out
logs/Objects365_chile_dino_8class_10063933.err
logs/Objects365_chile_dino_8class_10063933.out
logs/Objects365_chile_dino_8class_10063939.err
logs/Objects365_chile_dino_8class_10063939.out
logs/coco_chile_3class_10065263.err
logs/coco_chile_3class_10065263.out
logs/coco_chile_7class_10065259.err
logs/coco_chile_7class_10065259.out
logs/coco_chile_7class_10065262.err
logs/coco_chile_7class_10065262.out
logs/paralell_detection_10065282.err
logs/paralell_detection_10065282.out
logs/paralell_detection_10065802.err
logs/paralell_detection_10065802.out
logs/paralell_detection_10065803.err
logs/paralell_detection_10065803.out
logs/paralell_detection_10065804.err
logs/paralell_detection_10065804.out
logs/yolov5l_coco_chile_7class_10065779.err
logs/yolov5l_coco_chile_7class_10065779.out
logs/yolov5l_coco_chile_7class_10065797.err
logs/yolov5l_coco_chile_7class_10065797.out
logs/yolov5l6_coco_chile_7class_10065781.err
logs/yolov5l6_coco_chile_7class_10065781.out
logs/yolov5l6_coco_chile_7class_10065798.err
logs/yolov5l6_coco_chile_7class_10065798.out
logs/yolov5l6_coco_chile_7class_10065801.err
logs/yolov5l6_coco_chile_7class_10065801.out
logs/yolov5m6_coco_chile_7class_10065777.err
logs/yolov5m6_coco_chile_7class_10065777.out
logs/yolov5m6_coco_chile_7class_10065778.err
logs/yolov5m6_coco_chile_7class_10065778.out
logs/yolov5x_coco_chile_7class_10065782.err
logs/yolov5x_coco_chile_7class_10065782.out
logs/yolov5x6_coco_chile_7class_10065806.err
logs/yolov5x6_coco_chile_7class_10065806.out
